<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bagusmerta.feature.search">

    <application>
        <activity
            android:name=".presentation.SearchActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar.Bridge"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="@string/app_name" android:host="search"/>
            </intent-filter>
        </activity>
    </application>

</manifest>