<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bagusmerta.moviee">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MovieeApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Moviee">
        <activity
            android:name=".presentation.search.SearchActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:exported="true" />
        <activity
            android:name=".presentation.detail.DetailActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.main.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>